<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>SOM TOOL</title>
</head>

<body ng-app="somTool" ng-controller="mainController as main">

<div class="row">
    <div class="col-lg-4">
        <div id="chart"></div>

        <div style="padding-left:50px; padding-right:170px;">
        <md-button class="md-raised"
                   ng-click="pollDataIn(i/10*time)"
                   ng-repeat="i in generateArray(10)"
                   ng-if="time">
            {{i/10*time | floorFilter}}
        </md-button>
        </div>
        <br/>
        <br/>
        <md-progress-linear md-mode="determinate" value="{{time}}" style="padding-left:60px; padding-right:190px;"></md-progress-linear>
        <br/>
        <br/>
        <br/>
        <div style="padding-left:60px; padding-right:190px;">
            <h4>data structure</h4>
            <span>{{items}}</span><br/><br/>
            <span>{{categories}}</span>
        </div>

    </div>
    <div class="col-lg-8">
        <h1 class="md-title">Matrix</h1>
        <p>Please Input Matrix Data</p>

        <div class="row">
            <div class="col-lg-2">
                <md-input-container style="margin-right: 10px;">
                    <label>Number of Categoreis</label>
                    <md-select ng-model="dimensionN">
                        <md-option ng-repeat="d in generateArray(16)" value="{{d}}">{{d}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-lg-2">
                <md-input-container style="margin-right: 10px;">
                    <label>Number of Items</label>
                    <md-select ng-model="mapRowsN">
                        <md-option ng-repeat="r in generateArray(100)" value="{{r}}">{{r}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div layout="=row">
                    <md-input-container style="margin-bottom: 50px;">
                        <label></label>
                    </md-input-container>
                </div>
                <div layout="=row" ng-repeat="(key, value) in items">
                    <md-input-container>
                        <label>item {{key}}</label>
                        <input ng-model="value.name">
                    </md-input-container>
                </div>
            </div>
            <div class="col-lg-10">
                <form name="myForm">
                    <div layout="row">
                        <md-input-container ng-repeat="(key, value) in categories" style="margin-right: 20px;">
                            <label>category {{key}}</label>
                            <input ng-model="categories[key]">
                        </md-input-container>
                    </div>

                    <div layout="=row" ng-repeat="(itemkey, itemvalue) in items">
                        <md-input-container style="margin-right: 113px;" ng-repeat="(catkey, catvalue) in categories" >
                            <label>degree</label>
                            <md-select ng-model="itemvalue['categories'][catkey]['degree']">
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <!--<div class="errors" ng-messages="myForm.categories.$error" ng-if="myForm.$dirty">-->
                                <!--<div ng-message="required">Required</div>-->
                            <!--</div>-->
                        </md-input-container>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">

                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="start()">START</md-button>
                    <md-button ng-click="random()" style="margin-right: 20px;">Random</md-button>
                    <md-button ng-click="clearValue()" ng-disabled="!j" style="margin-right: 20px;">Clear</md-button>
                    <md-button ng-click="save()" class="md-primary" >Save</md-button>
                </div>


                <br/>
            </div>
        </div>

    </div>
</div>


<script src="bundle.js"></script>

</body>
</html>