<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>SOM TOOL</title>
</head>

<body ng-app="somTool" ng-controller="mainController as main">

<div class="row">
    <div class="col-lg-4">
        <div id="chart"></div>

        <md-button class="md-raised" ng-click="pollDataIn(i)" ng-repeat="i in [1,100,200,400,700,900,1000,1500,2000,2500,3000,3500]">{{i}}</md-button>
        <br/>

        <div style="margin-right: 30px; margin-left: 30px;">
            <md-progress-linear md-mode="determinate" value="{{time}}"></md-progress-linear>
        </div>

    </div>
    <div class="col-lg-8">
        <h1 class="md-title">Matrix</h1>
        <p>Please Input Matrix Data</p>

        <md-input-container style="margin-right: 10px;">
            <label>Size</label>
            <md-select ng-model="size">
                <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
            </md-select>
        </md-input-container>

        <div class="row">
            <div class="col-lg-2">
                <div layout="=row">
                    <md-input-container style="margin-bottom: 50px;">
                        <label></label>
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>
                <div layout="=row">
                    <md-input-container>
                        <label>item</label>
                        <input ng-model="j.name">
                    </md-input-container>
                </div>

            </div>
            <div class="col-lg-10">
                <form name="myForm">
                    <div layout="row">
                        <md-input-container style="margin-right: 10px;">
                            <label>Category</label>
                            <input ng-model="j.name">
                        </md-input-container>
                        <md-input-container style="margin-right: 10px;">
                            <label>Category</label>
                            <input ng-model="j.name">
                        </md-input-container>
                        <md-input-container style="margin-right: 10px;">
                            <label>Category</label>
                            <input ng-model="j.name">
                        </md-input-container>
                        <md-input-container style="margin-right: 10px;">
                            <label>Category</label>
                            <input ng-model="j.name">
                        </md-input-container>
                        <md-input-container style="margin-right: 10px;">
                            <label>Category</label>
                            <input ng-model="j.name">
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="=row">
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="margin-right: 90px;">
                            <label>Degree</label>
                            <md-select name="j.value" ng-model="j.value" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.j.$error" ng-if="myForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div layout="row">

                    <md-button class="md-raised md-primary" ng-click="start()">START</md-button>
                    <md-button ng-click="clearValue()" ng-disabled="!j" style="margin-right: 20px;">Clear</md-button>
                    <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Save</md-button>
                </div>

                <span ng-if="j.value && j.name" style="margin-left: 10px;">{{j.name}} is {{j.value}}</span>
                <br/>
            </div>
        </div>

    </div>
</div>


<script src="bundle.js"></script>

</body>
</html>